<html lang="ru">
<head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="/styles.scss" />
    <title>{{ titleApp }}</title>
</head>
<body>
    <main>
        <div class="error-block">
            {{> @partial-block}}
        </div>
    </main>
</body>
</html>
