<html>
<head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="/styles.scss" />
    <title>{{ titleApp }}</title>
</head>
<body>
    <div class="error-block">
        {{> @partial-block}}
    </div>
</body>
</html>
