.button {
    display: block;
    border: none;
    width: 280px;
    height: 37px;
    text-align: center;
    color: #3369F3;
    background: none;
}

.filled {
    border-radius: 8px;
    background: #3369F3;
    color: #ffffff
}
