.blok-edit-password {
    box-sizing: border-box;
    width: 510px;
    min-height: 450px;

    margin-top: 15vh;
    margin-left: auto;
    margin-right: auto;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    row-gap: 40px;
}

.blok-edit-password__form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    row-gap: 40px;
}

.blok-edit-password__button {
    margin: auto;
}

.blok-edit-password__inputs {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    width: 100%;
}
