.blok-profile {
    box-sizing: border-box;
    width: 510px;
    min-height: 450px;

    margin-top: 15vh;
    margin-left: auto;
    margin-right: auto;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    row-gap: 40px;
}

.blok-profile__head {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.blok-profile__form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    row-gap: 40px;
}

.blok-profile__inputs {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    width: 100%;
}

.blok-profile__buttons {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    hr {
        border: none;
        background-color: $color-grey-light; 
        height: 1px; 
        width: 100%;
        margin: 0;
    }
}

.back-button {
    position: absolute;
    top: 0;
    left: 0;
    width: 60px;
    height: 100vh;
    border: none;
    border-right: 1px solid $color-grey-light; 
    background-color: $color-grey-lotion;
}

.blok-profile__avatar {
    border-radius: 50%;
    overflow: hidden;
    height: 130px;
    &:hover {
        display: block;
        filter: brightness(50%);
        position: relative;
        
        &::after {
            content: "Поменять аватар";
            position: absolute;
            display: block;
            top: 25%;
            left: 25%;
            width: 64px;
            height: 28px;
            text-align: center;        
        }
    }
}

.blok-profile__img {
    width: 130px;
    height: 130px;
}
