$color-red: #FF0000;
$color-grey-light: #EAEAEA;
$color-grey-lotion: #FBFBFB;
$color-light-shade-gray: #EFEFEF;
$color-grey: #999999;
$color-dark: #1E1E1E;
$color-white: #ffffff;
$color-blue: #3369F3;

@import './components/Button/button.scss';
@import './components/Input/input.scss';
@import './pages/profile/components/Input/inputProfile.scss';
@import './pages/profile/components/Button/buttonProfile.scss';
@import './components/Title/title.scss';

@import './pages/profile/profile.scss';
@import './pages/chat/chat.scss';
@import './pages/chat/ChatList/Head/components/SearchInput/serachInput.scss';
@import './pages/chat/ChatList/Head/components/ButtonProfile/buttonProfile.scss';
@import './pages/chat/ChatList/Head/head.scss';
@import './pages/chat/ChatList/List/list.scss';
@import './pages/chat/ChatList/List/ListItem/listItem.scss';
@import './pages/chat/ChatList/List/ListItem/component/countUnread.scss';

@import './layouts/Error/error.scss';
@import './layouts/Auth/auth.scss';

@import './pages/chat/ChatList/chatList.scss';

body {
    margin: 0;
}
