.input-profile-wrapper {
    position: relative;
    width: 100%;
    border-bottom: 1px solid #EAEAEA;

    .input {
        border: none;
        width: 100%;
        text-align: right;
        color: #999999;
        margin-bottom: 8px;
        
        &:focus {
            outline: none;
        }
    }

    .placeholder {
        font-size: 13px;
        position: absolute;
        top: 0px;
        left: 0;
        color: #1E1E1E;
        pointer-events: none;
    }

    &:last-child {
        border: none;
    }
}




