.input-wrapper {
    position: relative;

    .input {
        border: none;
        border-bottom: 1px solid #3369F3;
        width: 280px;
        &:focus {
            outline: none;
        }
    
        &::placeholder {
            color: transparent;
        }
    }
    
    .placeholder {
        font-size: 13px;
        position: absolute;
        top: 0px;
        left: 0;
        color: #999999;
        pointer-events: none;
        transform-origin: left center;
        transition: transform 250ms;
    }
    
    .input:focus + .placeholder,
    .input:not(:placeholder-shown) + .placeholder{
        font-size: 12px;
        transform: translateY(-100%) scale(0.75);
    }
    
}